<head>
<meta charset="UTF-8">
<title></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <%= stylesheet_link_tag "albumms.new", :media => "all" %>

    <div class="first-block">
        <%= image_tag"hpb2.png", alt:"", class:"hpb" %>

        <div class="album">
            <%= form_for @albumm do |f| %>
                <div class="field">
                    <%= f.label :image %>
                    <%= f.file_field :image %>
                </div>
                <div class="field">
                    <%= f.label :body %>
                    <%= f.text_area :body, :size => 140*2 %>
                </div>
                <%= f.submit "確定" %>
            <% end %>
            <%= link_to 'テンプレ一覧', :controller => "albums", :action => "index" %>
        </div>
    <div class="first-block">

</body>