<html lang="ja">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap" rel="stylesheet">
</head>

<body>
    <%= stylesheet_link_tag "albummms.new", :media => "all" %>
    <div class="first-block">
        <%= image_tag"hpb3.png", alt:"", class:"hpb" %>
            <div class="album">
                <%= form_for @albummm do |f| %>
                <%= f.label :image %>
                <%= f.file_field :image, :size => 140 %> 
                <p><%= image_tag @albummm.image_url, size: "1131xauto" if @albummm.image? %></p>
                <%= f.label :body %>
                <%= f.text_area :body, :size => 140*2 %> 
                <%= f.submit "編集する" %>
                <%= link_to "一覧に戻る", albums_path %>
            </div>
    </div>
<% end %>
</body>