<html lang="ja">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap" rel="stylesheet">
</head>

<body>
    <%= stylesheet_link_tag "albummms.new", :media => "all" %>

    <div class="first-block">
        <%= image_tag"hpb3.png", alt:"", class:"hpb" %>
            <div class="album">
                <p><%= @albummm.body %></p>
                <p><%= @albummm.image %></p>
                <%= link_to "編集する", edit_albummm_path(@albummm.id) %>
                <%= link_to "一覧に戻る", albums_path %>
                <%= link_to 'QR Code', qr_code_album_path(@albummm) %>
            </div>
    </div>
</body>